//阿里图标库
// @font-face {
//   font-family: 'iconfontyyy';  /* project id 284616 */
//   src: url('//at.alicdn.com/t/font_eu32mjbfq5154s4i.eot');
//   src: url('//at.alicdn.com/t/font_eu32mjbfq5154s4i.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_eu32mjbfq5154s4i.woff') format('woff'),
//   url('//at.alicdn.com/t/font_eu32mjbfq5154s4i.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_eu32mjbfq5154s4i.svg#iconfont') format('svg');
// }

// .iconfontyyy{
//     font-family:"iconfontyyy" !important;
//     font_size:3.5em;font-style:normal;
//     -webkit-font-smoothing: antialiased;
//     -webkit-text-stroke-width: 0.01em;
//     -moz-osx-font-smoothing: grayscale;
// }

//gb-width
$gb_width: 640;    //640是设计图(画布)的宽度，可根据需要调整

//px ====> rem
@function rem($size) {
   @return $size/$gb_width*10rem;
}

//编写一个font_size宏
@mixin font_dpr($font_size) {
  @if $font_size <= 30 {
    font-size: $font_size + px;
    [data-dpr="2"] & {
        font-size: $font_size * 2px;
    }
    //物理像素/逻辑像素=dpr
    [data-dpr="3"] & {
        font-size: $font_size * 3px;
    }

    [data-dpr="3.5"] & {
        font-size: $font_size * 3.5px;
    }
  } @else {
    font-size: $font_size/$gb_width*10rem;
  }
}

//字体使用规范
//字体通用方法
@mixin font_fn( $size : 12, $color : #fff, $bold : narmal ){
 //@include font_dpr($size);
  font-size: rem($size);
  font-weight: $bold;
  color: $color;
  line-height: 1.5;
}

@mixin bg_fn( $url, $repeat, $position, $size ){
  background-image: $url;
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}


//主标题
@mixin font_main_head( $size:36, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//次级标题
@mixin font_sub_head( $size:20, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//小标题
@mixin font_small_head( $size:20, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//正文
@mixin font_text( $size:12, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//辅助文字
@mixin font_help_text( $size:12, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//失效文字
@mixin font_disabled_text( $size:12, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}

//链接文字
@mixin font_link_text( $size:12, $color:#f00, $weith:400 ){
  @include font_fn( $size, $color, $weith );
}
